doctype html(lang='en')
head
    meta(charset='utf-8')
    title EtchASDR
    link(rel='stylesheet', type='text/css', href='/assets/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/assets/css/style.css')
  body#home
    #etch
      canvas.inside(width='1900px', height='1050px')
    script(src='/assets/js/jquery.js')
    script(src='/assets/js/jquery-ui.js')
    script(src='/socket.io/socket.io.js')
    script(src='/assets/js/node.js')
    script(src='/assets/js/script.js')